.cart-top{
    position: relative;
    left: 15px;
    text-align: center;
}

.cart-top p{
    position: relative;
    top: -15px;
}

.cart-bottom table{
    position: relative;
    top: -15px;
    left: 10px;
    margin: 2px;
}

.grandTotal{
    font-size: large;
    font-weight: 500;
    color: brown;
}

button{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    left: 20px;
    cursor: pointer;
}